.wrapper {
  background-color:#ecf0f5 !important;
}
.img-detail{
  width: 100%;
}

.month{
  cursor: pointer;
}

.month:hover{
  background-color: #bebebe;
}

/*  Preloader*/

@-webkit-keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

#preloader {
  display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}

#status {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 1px 0px green;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	-webkit-animation: spin 0.9s linear infinite;
	-o-animation: spin 0.9s linear infinite;
	animation: spin 0.9s linear infinite;
}
